@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:     Phone
600 - 900px:   Tablet Portrait
900 - 1200px:  Tablet Landscape
1200px - 1800px:  Normal Styles apply with DESKTOP FIRST
1800px +       Big Desktop



@mixin respond-phone {
    @media (max-width: 600px) { @content }; // a single-device mixin, includes @content "directive", which allows us to pass a content block into a mixin.
}

     "global" mixin for all devices:
    $breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop

ORDER of writing @media queries: 
Base + Typography > general layout + grid + page layout > components

    */

// We don't use pixels for media queries, and rem doesn't work well either, so we have to use em

// 1em = 16px - browser default setting, we need to convert all @media queries to em units (default value can be changed by a user of a browser)

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
         @media only screen and (max-width: 37.5em) { @content }; //600px
    }
    
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900px
    }
    
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };   // 1200px
    }
    
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };  // 1800px
    }
// @media only screen and - applies the styles only for the screen, not for a printer and so on.
}