.popup {
        
    background-color: rgba($color-gray-dark-3, .8);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    
    //display: none; we don't want to use that because we cannot animate it, instead use opacity & visibility
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); // NOT supported in Chrome
    
    // GRACEFUL DEGRADATION - FEATURE-Query: IF .... property is supported, than the code in {} is applied...
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px); // NOT supported in Chrome
// background-color: rgba($color-gray, .8); // Blur looks better with light colors
    }
    
    &__content {
        @include center;
        
        background-color: $color-white;
        width: 75%;
        //height: 50%;
        box-shadow: 0 2rem 4rem rgba($color-black, .7);
        position: absolute;
        border-radius: 3px;
        
        display: table;
        overflow: hidden; // bcause of images overflowing corners
        
        opacity: 0;
        transform: translate(-50%, -50%) scale(.2); 
// we have to put translate and scale in one declaration line - we already have @include center, which is a transform property - you can only have 1 transform property in a declaration block!!!!!;
        transition: all .3s .2s; // delay is .2s
    }
    
    &__left {
         width: 33.33333%;  
//        float:left; we don't use floats, because the divs have different heights and its' harder to center vertically
        display: table-cell;
        vertical-align: middle;
        
    }
    
    &__right {
        width: 66.666667%;
//        float: left;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }
    
    &__img {
        display: block;
        width: 100%;
        
    }
    
    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
        
        column-count: 2;
        column-gap: 4rem; // default is 1em - which is current element's font size 
        column-rule: 1px solid $color-gray-light-2;
        
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto; // language attribute must be set at html element: <html lang-"en">
    }
    
// OPEN STATES: when the popup is OPEN    
    //ANCHOR & TARGET - id names put next to href="#popup" etc. target is a pseudo-class that is added when a button is clicked 
    &:target {
        opacity: 1;
        visibility: visible;
    }

//when the popup element becomes a :target than style &__content
    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    
    
    &__close {
        &:link,
        &:visited {
            color: $color-gray-dark;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            line-height: 1rem;
        }
        
        &:hover {
            color: $color-primary;
        }
    }

    
}
